* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

header{
    width: 100%;
    
}

.img-1{
    position: absolute;
    background:url(../about.img/HERO\ HEADER\ .png) no-repeat;
    background-size: cover;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
}

.menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    top: 64px;
    height: 64px;
    width: 1296px;
}    

.logo{
    width: 159px;
    padding-right: 293px;
}
.logo img{
    width: 159px; 
    
}

.menu-item{
    font-family: 'Inconsolata', monoespaçado;
    text-align: center;
    
}
.menu-item a{
    color: #8b8b8b;
   text-decoration: none;
   padding-right: 64px;
}

.button-1{
    font-family: 'Inconsolata', monoespaçado;
    padding-left: 208px;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    background-color: #232340;
    color: #ffffff;
    padding-top: 20px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 20px;
    
    
}


