* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }

header{
    width: 100%;
    background-color: rgb(83, 83, 83);
}

.img-1{
    position: absolute;
    background:url(../about.img/HERO\ HEADER\ .png) no-repeat;
    background-size: cover;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
}

.menu{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 64px;   
}

.logo{
    position: relative;
    width: 40px;
    height: 40px;
    left: 0px;
    top: 0px;
}
